<div id="container">
  <div id="contact-list">
    <h2>My Contacts</h2>
      <ul>
        {{#each App.contactsController}}
          {{view App.ContactListItemView contentBinding="this"}}
        {{/each}}
      </ul>
    {{#button action="newContact"}}New Contact{{/button}}
  </div>

  <div id="detail">
    {{#if App.selectedContactController.content}}
      {{template "card"}}
    {{else}}
      <div class="no-contact-selected">No contact selected.</div>
    {{/if}}
  </div>
</div>
